[Desktop Entry]
Version=1.0
Type=Application
Name=Set_Wallpaper
Exec=~/bin/wjmWallpaper.py %f
Categories=X-Geeqie;
OnlyShowIn=X-Geeqie;
X-Geeqie-Menu-Path=FileMenu/FileOpsSection
X-Geeqie-Filter=false
X-Geeqie-Verbose=false
